h1 {
    width: 0%;
    background-color: pink;
    width: 100%;
    animation: typing 2s steps(13);
    white-space: nowrap;
    overflow: hidden;
}
@keyframes typing {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}