:root {
    --color_white: #FCFBF4;
    --color_charGray: #0e1111;
    --color_yellow: rgb(255,255,0);
    --color_blueLight: #b2b2ff;

    --color_cyan: rgba(0, 255, 255, .8);
    --color_magenta: rgba(255, 0, 255, .8);
    --color_yellow: rgba(255, 255, 0, 0.8);
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color-scheme: dark;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

/* GLOBAL  Styles
----------------------------------*/
body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    
    font-size: 15px;
    line-height: 1.5;
}
img:not(.logo) {
    width: 300px;
}
a {
    color: var(--color_yellow);
}
a:hover {
    text-decoration: none;
}
.contentWrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}
.divider > section{
    position: relative;
    padding: 25px 25px;
    border: 2px solid var(--color_charGray);
}

h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 45px;
    letter-spacing: -1px;
    text-shadow: -2px 2px 0px var(--color_charGray),
                -1px -3px 3px var(--color_yellow),
                3px 3px 3px var(--color_cyan), 
                -5px -5px 3px var(--color_magenta);
    margin: 0;
    margin-bottom: 20px;
    -webkit-text-stroke: 1px var(--color_charGray);
}
h1 {
    font-size: 75px;
    line-height: 1;
}
h1, h2{
    font-family: 'Sedgwick Ave Display', cursive;
    font-weight: 400;
    position: relative;
    z-index: 3;
    word-spacing: 10px;
}
h3 {
    margin-bottom: 0;
}
footer, header {
    text-align: center;
}

/* CUSTOM GLOBAL Styles
--------------------------------- */
.padding-bottom--none {
    padding-bottom: none;
}
.margin--none {
    margin: 0;
}
.outline--text-stroke {
    color: transparent;
    -webkit-text-stroke: 3px #ffffff;
}
.outline--text-stroke-bold {
    color: transparent;
    -webkit-text-stroke: 3px #ffffff;
}
.outline--text-stroke-light {
    color: transparent;
    font-size: 55px;
    -webkit-text-stroke: 2px #ffffff;
}
.section__titles {
    text-transform: uppercase;
}
.section__titles h4 {
    font-size: 3.6rem;
    margin: 0;
    line-height: 1;
    margin-bottom: 5px;
}
.section__titles h3{
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
    line-height: 1;
}
.section__titles p {
    font-weight: 600;
    margin: 0;
}
.section__paragraph h3 + p{
    font-weight: 500;
    text-transform: capitalize;
}
.section__paragraph p + h3 {
    margin-top: 10px;
    font-weight: bold;
}
.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* NAV BAR Styles 
----------------------------------*/
.heroBlock {
    height: 600px;
}
header{
    height: 600px;
    width: 100%;
    color: var(--color_white);
    
    position: fixed;
    z-index: -3;
}
nav {
    background-color: var(--color_charGray);

    box-shadow: 0 5px 10px #00000050;

    position: sticky;
    top: 0px;
    z-index: 1000;
}
nav ul {
    width: 70%;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    position: relative;
    left: 15%; 
}
nav ul li {
    list-style-type: none;
}
nav ul li, nav ul li a{
    display: inline-block;
}
nav ul li a:not(.logo) {
    padding: 15px 20px;
    text-decoration: none;
    text-transform: capitalize;
    position: relative; /* for ::after animation effect */
}
.logo {
    text-decoration: none;
}
nav ul li a:not(:last-child){
    margin-inline: 10px;
}
nav ul li a, .nav__list--logo{
    font-size: 1.7rem;
}
.nav__list--logo{
    height: 100%;
}
.nav__list--logo h2 {
    font-size: 30px;
    height: 100%;
    margin-top: 10px;
    white-space: nowrap;
}

/* ABOUT Styles
----------------------------------*/

/* PROJECT  Styles
----------------------------------*/
.backgroundWall {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -10;
    background: url(../images/texture.jpg),  var(--color_white);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    filter: brightness(.5);
}
.projects {
    background-color: var(--color_charGray);
    padding-block: 20px;
}
.projects a {
    color: var(--color_charGray)
}
.projects .btn{
    background-color: white;
    padding: 8px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid var(--color_charGray);
}   
.projectItem {
    color: var(--color_charGray);
    background-color: #b2b2ff;
    overflow: hidden;
    margin-bottom: 50px;
}
.projectItem img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.projectItem h3 {
    margin-top: 0;
}

/* WORK EXPERIENCE  Styles
----------------------------------*/
.workExperience{
    background-color: var(--color_blueLight);
}
section.jobItem { /* Needs higher specificity to override section > divider. Could prob remove, no time though.*/
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 2fr;
    position: relative;
    position: relative;
    border: none;
}
.jobDetail {
    padding-block: 25px;
    color: var(--color_charGray)
}
.jobItem > * {
    grid-column: 2;
}
.jobItem--timeline {
    width: 100%;
    height: 100%;
    grid-column: 1;
    position: relative;
}
.job__bullet-point::before, 
.job__bullet-point-end::before{
    width: 2px;
    content: "";
    position: absolute;
    background-color: var(--color_charGray);
    left: 50%;
    opacity: .4;
}
.job__bullet-point::before {
    height: 100%;
}
.job__bullet-point-end::before {
    height: 50%;
}
.job__bullet-point-start::before {
    height: 75%;
}
.list--style-ping {
    width: 15px;
    height: 15px;
    aspect-ratio: 1;
    border-radius: 50vh;
    background-color: var(--color_charGray);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 
    0px 0px 0px 0px rgba(255, 0, 255, .8),
    0px 0px 0px 0px rgba(0, 255, 255, .8),
    0px 0px 0px 4px rgba(255, 255, 0, .8);
}
/* EDUCATION Styles
----------------------------------*/
.education {
    background-color: var(--color_white);
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
}
.educationItem {
    color: var(--color_charGray);
    background-color: pink;
    padding: 25px;
    margin: auto;
    
    position: relative;
}
.educationItem::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -10px;
    left: -10px;
    transform:scale(1);
    border: 2px solid var(--color_charGray);
    pointer-events: none;
}
/* CONTACT INFO  Styles
----------------------------------*/
footer {
    background-color: var(--color_charGray);
    color: var(--color_white);
}
.contactList {
    list-style-type: none;
    padding: 0;
}
.contactList a {
    padding: 15px;
    display: inline-block;
}

/* ANIMATIONS Styles
----------------------------------*/
/* Trying to learn to use B.E.M naming convention.
I like the idea of using a different for each css, js and php, idk if thats good practice.  
Js camelCase, php snack_case, css B.E.M
*/
.animation__color-split {
    transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
}
.animation__color-split:hover {
    box-shadow: 4px 4px var(--color_cyan),
                -4px -4px var(--color_magenta);
    transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
}
/* inspiration from GUMROAD for the transition effect, not perfect https://gumroad.com/*/
.animation__pop-out-yellow,
.animation__pop-out-dark {
    transition: box-shadow 300ms ease-in-out, border 300ms ease-in-out, transform 300ms ease-in-out;
}
.animation__pop-out-yellow {
    box-shadow: 0 0 0 0 var(--color_yellow);
}
.animation__pop-out-dark {
    box-shadow: 0 0 0 0 var(--color_charGray)
}
.animation__pop-out-yellow:hover {
    box-shadow: 10px 10px 0 0 var(--color_yellow);
    transform: translate(-10px, -10px);
    transition: all 300ms ease-in-out;
}
.animation__pop-out-dark:hover {
    box-shadow: 3px 3px 0 0 var(--color_charGray);
    transform: translate(-3px, -3px);
    transition: all 300ms ease-in-out;
}
.animation__slice-corners img{
    border: 2px solid var(--color_charGray);
    clip-path: polygon(0 0, 0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
    transition: clip-path 300ms ease-in-out;
}
.animation__slice-corners:hover img{
    -webkit-clip-path: polygon(0% 15%, 15% 0%, 100% 0, 100% 85%, 85% 100%, 0 100%); 
    clip-path: polygon(0% 15%, 15% 0%, 100% 0, 100% 85%, 85% 100%, 0 100%);
    border: 2px solid var(--color_charGray);
        transition: clip-path 300ms ease-in-out;
}
.animation__link--border-bottom li a:not(.logo)::before{
    content: " ";
    width: 80%;
    height: 3px;
    position: absolute;
    bottom: 2px;
    left: 10%;
    background-color: var(--color_yellow);
    transition: all 300ms ease-in-out;
}
.animation__link--border-bottom li a:not(.logo):hover::before {
    width: 60%;
    height: 2px;
    position: absolute;
    bottom: 15%;
    left: 20%;
    background-color:  rgba(255, 0, 255, .8);
}
.animation__link--border-bottom li a:hover {
    color: var(--color_cyan);
}
.animation__link--border-bottom li a:active {
    color: var(--color_magenta);
}
.animation__link--border-bottom li a::before,
.animation__link--border-bottom li a {
    transition: all 200ms ease-out;
}
.animation__title--text-shadow {
    animation: spotlight 2.5s ease-in-out   forwards running;
}

@keyframes spotlight {
0% {
    text-shadow: 
    2px -2px 10px var(--color_charGray),
    1px 3px 10px var(--color_yellow),
    -3px 3px 10px var(--color_cyan),
    5px -5px 10px var(--color_magenta); 
}

40% {
    text-shadow: 
    -6px -8px 10px var(--color_charGray),
    20px -30px 30px var(--color_yellow),
    30px 30px 30px var(--color_cyan),
    -40px  30px 30px var(--color_magenta);
}
70% {
    text-shadow: 
    -4px -6px 8px var(--color_charGray),
    -30px -30px 40px var(--color_yellow),
    -30px 30px 40px var(--color_cyan),
    -80px  -20px 40px var(--color_magenta);

}
100% {
    text-shadow: 
    -5px -4px 3px var(--color_charGray),
    15px -15px 20px var(--color_yellow),
    15px 15px 20px var(--color_cyan),
    -15px -15px 20px var(--color_magenta);
    
}   
}
.animation__ping {
    animation: ping 1s alternate infinite;
}
@keyframes ping {
    0% {
    }
    100% {
        box-shadow: 
        0px 0px 0px 6px rgba(255, 0, 255, .5),
        0px 0px 0px 12px rgba(0, 255, 255, .5),
        0px 0px 0px 18px rgba(255, 255, 0, .5);
    }
}
/* RESPONSIVE Styles
----------------------------------*/
@media screen and (min-width:750px){
    .projectItem img{
        margin-right: 20px;
        float: left;
    }
    .contactList {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 749px) {
    h1 {
        margin-bottom: 20px;
        font-size: 75px;
        line-height: 0.9;
    }
    h2 {
        line-height:1;
    }
    .contactList a{
        padding: 5px;
    }
}