:root {
    --color_white: #FCFBF4;
    --color_charGray: #0e1111;
    --color_charGrayLight: #262b2b;
    --color_yellow: rgb(255,255,0);
    --color_blueLight: #b2b2ff;

    --color_cyan: 
    --color_magenta: 
    --color_yellow: ;
}