.about {
   color: $color-char-grey-900;
   background-color: $color-white;

   .content-wrap {
      div {
         position: relative;
         background-color: $color-yellow;
         padding: 20px;
         @include margin--auto();
         &::before {
            left: 10px;
            top: 10px;
            @include before-after();
            @include border(4px);
         }

         &:not(:last-child) {
            margin-bottom: 30px;
         }

         p {
            padding-inline: 40px;
            font-size: 2rem;
            margin: 20px;
         }
      }

      h3 {
         text-align: center;
      }
   }

   ul {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: 1fr 1fr;
      margin-block: 15px;
      padding-left: 40px;

      li {
         width: 100%;
         position: relative;
         text-transform: uppercase;
         text-align: center;
         list-style-type: none;
         font-weight: 700;

         &::after {
            top: 50%;
            transform: translate(-0, -30%);
            border-left: 4px solid $color-char-grey-500;
            border-bottom: 4px solid $color-char-grey-900;
            border-bottom-left-radius: 50vw;
            @include before-after(75%);
         }
      }
   }

   @include responsive--max(650px) {
      ul {
         grid-template-columns: repeat(4, 1fr);
         row-gap: 20px;

         li {
            grid-row: auto;
         }
      }
   }
}