footer {
   background-color: $color-char-grey-900;
   color: $color-white;
   .contact__list {
      list-style-type: none;
      padding: 0;

      a {
         padding: 15px;
         display: inline-block; 
      }
   }
   @include responsive--min(750px){
      .contact__list {
         @include flex__center-center();
      }
   }
   @include responsive--max(749px){
      .contact__list{
         a{
            padding: 5px;
         } 
     }
   }
}