footer {
   background-color: $color-char-grey-900;
   color: $color-white;
   .contact__list {
      list-style-type: none;
      padding: 0;

      a {
         padding: 15px;
         display: inline-block; 
      }
   }
   @include responsiveMin(750px){
      .contact__list {
         display: flex;
         justify-content: center;
      }
   }
   @include responsiveMax(749px){
      .contact__list{
         a{
            padding: 5px;
         } 
     }
   }
}