.education {
   background-color: $color-white;
   background-size: cover;
   background-position: top right;
   padding-bottom: 100px;

   &__item {
      color: $color-char-grey-900;
      background-color: $color-pink;
      padding: 25px;     
      position: relative;
      @include margin--auto;
      
      &::after {
         top: -10px;
         left: -10px;
         transform:scale(1);
         pointer-events: none;
         @include border(4px);
         @include before-after();
      }
   }
}