.outline--text{
   &-stroke {
      color: transparent;
      -webkit-text-stroke: 3px #ffffff;
      &-bold {
         color: transparent;
         -webkit-text-stroke: 3px #ffffff;
      }
      &-stroke-light {
         color: transparent;
         font-size: 55px;
         -webkit-text-stroke: 2px #ffffff;
      }
   }
}
.section__titles {
   text-transform: uppercase;

   h4{
      font-size: 3.6rem;
      margin: 0;
      line-height: 1;
      margin-bottom: 5px;
   }
   h3{
      font-size: 1.6rem;
      font-weight: 300;
      margin: 0;
      padding: 0;
      line-height: 1;
   }
   p{
      font-weight: 600;
      margin: 0;
   }
}
.section__paragraph {
   h3 + p {
      font-weight: 500;
      text-transform: capitalize;
   }
   p + h3 {
      margin-top: 10px;
      font-weight: bold;
   }
}
.flex-center-center {
   display: flex;
   justify-content: center;
   align-items: center;
}
.padding-bottom--none {
   padding-bottom: none;
}
.margin--none {
   margin: 0;
}