.job {
   background-color: $color-blue-500;

   &__item {
     display: grid;
     padding: 0;
     grid-template-columns: 1fr 2fr;
     position: relative;
     border: none;
 
     &--timeline {
       width: 100%;
       height: 100%;
       grid-column: 1;
       position: relative;
     }
 
     &--details {
       padding-block: 25px;
       color: $color-char-grey-900;
       grid-column: 2;
     }
     &--bullet-point{
       &::before {
         background-color: $color-char-grey-900;
         left: 50%;
         opacity: 0.4;
         @include before-after(2px, 100%);
       }
     }
     &--bullet-point-end{
      &::before {
        @extend .job__item--bullet-point;
        @include before-after(2px, 50%);
      }
   }
 }
 
 .list--style-ping {
   width: 15px;
   height: 15px;
   aspect-ratio: 1;
   border-radius: 50%;
   background-color: $color-char-grey-900;
   box-shadow: 
     0 0 0 0 $color-magenta,
     0 0 0 0 $color-cyan,
     0 0 0 4px $color-yellow;
  @include tranform-to-page;
 }
}