.nav {
   background-color: $color-char-grey-900;
   border-bottom: 1px solid $color-magenta;
   position: sticky;
   // wouldn't sit flush to the top; too lazy to figure it out
   top: -2px;
   z-index: 1000;

   ul {
      width: 70%;
      margin: 0;
      padding: 0;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      left: 15%; 

      li {
         list-style-type: none;
         a{
            font-size: 1.7rem;
            display: block;
            text-align: center;
            padding: 15px 20px;
            text-decoration: none;
            text-transform: capitalize;
            position: relative;
         }
      }
      .logo {
         padding: 10px 0;
         h2 {
            @include transition(all, 300, linear);
            &:hover {
               @include transition(color, 300, linear);
               color: $color-black;
               -webkit-text-stroke: 1px $color-white;
            }
         }
      }      
   }
   &__toggle{
      display: none;

      &~label {
         position: absolute;
         right: 0;
         top: 20px;
         padding: 20px;
         z-index: 999;
         @include flex__center-center();

         span {
            opacity: 1;
            background: $color-white;
            @include transition(all, 0.14);
            @include before-after(1.75rem, 0.125rem);
            
            &::before,
            &::after {
               background-color: $color-white;
               @include transition(all, 0.14);
               @include before-after(100%, 0.125rem);
            }
            &::before {
               top: -0.5rem;
               background-color: $color-white;
             }
           
             &::after {
               top: 0.5rem;
               background-color: $color-white;
             }
         }
      }
      &:checked {
         ~label>span {
            background: rgba(18, 18, 18, 0);
            &::before {
               background-color: $color-white;
               top: 0;
               transform: rotateZ(45deg);
            }
            &::after {
               background-color: $color-white;
               top: 0;
               transform: rotateZ(-45deg);
            }
         }
         ~.mobile__drop {
            display: block;
         }
      }
      }
   &__list--logo {
      height: 100%;
      h2 {
         font-size: 30px;
         height: 100%;
         margin-top: 10px;
         $color-white-space: nowrap;
      }
   }
   .mobile__drop {
      display: none;
      li:not(:last-child) a {
         border-bottom: 2px solid $color-yellow;
      }
   }
   @include responsive--max(650px){
      & {
         .mobile__drop {
            border-bottom: 1px solid pink;
         }
      }
   }
   @include responsive--max(950px){
      & {
         ul {
            width: 90%;
            left: 5%;
            
            li a {
               padding: 20px 5px;
            }
         }
      }
   }
   @include responsive--max(1050px){
      & {
         ul {
            width: 90%;
            left: 5%;
         }
      }
   }
   @include responsive--min(750px){
      & {
         ul {
            flex-direction: row;
            a.logo {
               padding: 0;
            }
            input {
               display: hidden!important;
            }
            li {
               display: inline-block;
            }
         }
         .mobile__drop {
            display: block;
            li:not(:last-child)a {
               border-bottom: none;
           }
         }
      }
      &__toggle {
         ~label>span {
            display: none;
         }
      }
   }
}