.projects {
   background-color: $color-char-grey-900;
   padding-block: 20px;
   position: relative;
   a{
      color: $color-char-grey-900;
   }
   .btn{
      background-color: $color-white;
      padding: 8px;
      text-decoration: none;
      display: inline-block;
      border: 1px solid $color-char-grey-900;
   }
   &__item {
      color: $color-char-grey-900;
      background-color: $color-blue-500;
      overflow: hidden;
      margin-bottom: 50px;
      position: relative;

      img{
         width: 300px;
         height: 200px;
         object-fit: cover;
      }
      h3 {
         margin-top: 0;
      }
   }
   @include responsiveMax(500px){
      &__item {
         img {
            width: 300px;
            height: 200px;
         }
         p {
            width: 30ch;
         }
      }
      h2 {
         margin-bottom: 40px;
      }
   }
   @include responsiveMin(750px){
      &__item {
         img {
            margin-right: 20px;
            float: left;
         }
      }
   }
}
