$color-yellow: rgba(255, 255, 0, .8);
$color-magenta: rgba(255, 0, 255, .8);
$color-cyan: rgba(0, 255, 255, .8);

$color-char-grey-900: #0e1111;
$color-char-grey-500: lighten($color-char-grey-900, 25%);
$color-blue-500: #b2b2ff;

$color-white: #ffffff;
$color-black: #000000;
$color-pink: pink;

@mixin responsiveMin($breakpoint) {
   @media only screen and (min-width: $breakpoint) {
     @content;
   }
 }
 @mixin responsiveMax($breakpoint) {
   @media only screen and (max-width: $breakpoint) {
     @content;
   }
 }