*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
}

body {
  background-color: coral;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.heroBlock {
  height: 600px;
}

.backgroundWall {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -10;
  background: url(../images/texture.jpg), #ffffff;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  filter: brightness(0.5);
}

header {
  height: 600px;
  width: 100%;
  color: #ffffff;
  position: fixed;
  z-index: -3;
}

footer, header {
  text-align: center;
}

img {
  width: 300px;
}

a {
  color: rgba(255, 255, 0, 0.8);
}
a :hover {
  text-decoration: none;
}

h1 {
  font-size: 75px;
  line-height: 1;
}

h2 {
  color: #ffffff;
  font-size: 45px;
  letter-spacing: -1px;
  text-shadow: -2px 2px 0px #0e1111, -1px -3px 3px rgba(255, 255, 0, 0.8), 3px 3px 3px rgba(0, 255, 255, 0.8), -5px -5px 3px rgba(255, 0, 255, 0.8);
  margin: 0;
  margin-bottom: 20px;
  -webkit-text-stroke: 1px #0e1111;
}

h1, h2 {
  font-family: "Sedgwick Ave Display", cursive;
  font-weight: 400;
  position: relative;
  z-index: 3;
  word-spacing: 10px;
}

h3 {
  margin-bottom: 0;
}

.content-wrap, .contentWrapAnimation {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

.divider > section {
  position: relative;
  padding: 25px 25px;
  border: 2px solid #0e1111;
}

.outline--text-stroke {
  color: transparent;
  -webkit-text-stroke: 3px #ffffff;
}
.outline--text-stroke-bold {
  color: transparent;
  -webkit-text-stroke: 3px #ffffff;
}
.outline--text-stroke-stroke-light {
  color: transparent;
  font-size: 55px;
  -webkit-text-stroke: 2px #ffffff;
}

.section__titles {
  text-transform: uppercase;
}
.section__titles h4 {
  font-size: 3.6rem;
  margin: 0;
  line-height: 1;
  margin-bottom: 5px;
}
.section__titles h3 {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.section__titles p {
  font-weight: 600;
  margin: 0;
}

.section__paragraph h3 + p {
  font-weight: 500;
  text-transform: capitalize;
}
.section__paragraph p + h3 {
  margin-top: 10px;
  font-weight: bold;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-bottom--none {
  padding-bottom: none;
}

.margin--none {
  margin: 0;
}

.nav {
  background-color: #0e1111;
  border-bottom: 1px solid rgba(255, 0, 255, 0.8);
  position: sticky;
  top: 0px;
  z-index: 1000;
}
.nav ul {
  width: 70%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  left: 15%;
}
.nav ul li {
  list-style-type: none;
}
.nav ul li a {
  font-size: 1.7rem;
  display: block;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
}
.nav ul li a .logo {
  padding: 10px 0;
}
.nav ul li a .logo h2 {
  transition: all 300ms linear;
}
.nav ul li a .logo h2 :hover {
  transition: color 200ms linear;
  color: #000000;
  -webkit-text-stroke: 1px #ffffff;
}
.nav__toggle {
  display: none;
}
.nav__toggle ~ label {
  position: absolute;
  right: 0;
  top: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.nav__toggle ~ label span {
  content: "";
  display: block;
  position: absolute;
  height: 0.125rem;
  width: 1.75rem;
  opacity: 1;
  background: #ffffff;
  transition: 0.14s ease-in-out;
}
.nav__toggle ~ label span::before, .nav__toggle ~ label span::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #ffffff;
  transition: 0.14s ease-in-out;
}
.nav__toggle ~ label span::before {
  top: -0.5rem;
  background-color: #ffffff;
}
.nav__toggle ~ label span::after {
  top: 0.5rem;
  background-color: #ffffff;
}
.nav__toggle:checked ~ label > span {
  background: rgba(18, 18, 18, 0);
}
.nav__toggle:checked ~ label > span::before {
  transform: rotateZ(45deg);
  background-color: #ffffff;
  top: 0;
}
.nav__toggle:checked ~ label > span::after {
  transform: rotateZ(-45deg);
  background-color: #ffffff;
  top: 0;
}
.nav__toggle:checked ~ .mobile__drop {
  display: block;
}
.nav__list--logo {
  height: 100%;
}
.nav__list--logo h2 {
  font-size: 30px;
  height: 100%;
  margin-top: 10px;
}
.nav .mobile__drop {
  display: none;
}
.nav .mobile__drop li:not(:last-child) a {
  border-bottom: 2px solid rgba(255, 255, 0, 0.8);
}
@media only screen and (max-width: 650px) {
  .nav .mobile__drop {
    border-bottom: 1px solid pink;
  }
}
@media only screen and (max-width: 950px) {
  .nav ul {
    width: 90%;
    left: 5%;
  }
  .nav ul li a {
    padding: 20px 5px;
  }
}
@media only screen and (max-width: 1050px) {
  .nav ul {
    width: 80%;
    left: 10%;
  }
}
@media only screen and (min-width: 750px) {
  .nav ul {
    flex-direction: row;
  }
  .nav ul a.logo {
    padding: 0;
  }
  .nav ul input {
    display: hidden !important;
  }
  .nav ul li {
    display: inline-block;
  }
  .nav .mobile__drop {
    display: block;
  }
  .nav .mobile__drop li:not(:last-child) a {
    border-bottom: none;
  }
  .nav__toggle ~ label > span {
    display: none;
  }
}

.about {
  color: #0e1111;
  background-color: #ffffff;
}
.about .content-wrap div {
  background-color: rgba(255, 255, 0, 0.8);
  padding: 20px;
  margin: auto;
  position: relative;
}
.about .content-wrap div::before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  left: 10px;
  top: 10px;
  border: 4px solid #0e1111;
}
.about .content-wrap div:not(:last-child) {
  margin-bottom: 30px;
}
.about .content-wrap div p {
  padding-inline: 40px;
  font-size: 2rem;
  margin: 20px;
}
.about .content-wrap h3 {
  text-align: center;
}
.about ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 1fr;
  margin-block: 15px;
  padding-left: 40px;
}
.about ul li {
  width: 100%;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  list-style-type: none;
  font-weight: 700;
}
.about ul li::after {
  width: 75%;
  height: 100%;
  position: absolute;
  display: block;
  top: 50%;
  transform: translate(0, -30%);
  content: "";
  border-left: 4px solid #485757;
  border-bottom: 4px solid #0e1111;
  border-bottom-left-radius: 50vw;
}
@media only screen and (max-width: 650px) {
  .about ul {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
  }
  .about ul li {
    grid-row: auto;
  }
}

.projects {
  background-color: #0e1111;
  padding-block: 20px;
  position: relative;
}
.projects a {
  color: #0e1111;
}
.projects .btn {
  background-color: #ffffff;
  padding: 8px;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #0e1111;
}
.projects__item {
  color: #0e1111;
  background-color: #b2b2ff;
  overflow: hidden;
  margin-bottom: 50px;
  position: relative;
}
.projects__item img {
  width: 300px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects__item h3 {
  margin-top: 0;
}
@media only screen and (max-width: 749px) {
  .projects__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projects__item img {
    width: 400px;
    height: 266px;
  }
  .projects__item p {
    width: 45ch;
  }
  .projects__item h3 {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .projects__item img {
    width: 300px;
    height: 200px;
  }
  .projects__item p {
    width: 30ch;
  }
  .projects h2 {
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 750px) {
  .projects__item img {
    margin-right: 20px;
    float: left;
  }
}

.job {
  background-color: #b2b2ff;
}
.job__item {
  display: grid;
  padding: 0;
  grid-template-columns: 1fr 2fr;
  position: relative;
  position: relative;
  border: none;
}
.job__item--timeline {
  width: 100%;
  height: 100%;
  grid-column: 1;
  position: relative;
}
.job__item--details {
  padding-block: 25px;
  color: #0e1111;
}
.job__item > * {
  grid-column: 2;
}
.job__item--bullet-point::before {
  height: 100%;
  width: 2px;
  content: "";
  position: absolute;
  background-color: #0e1111;
  left: 50%;
  opacity: 0.4;
}
.job__item--bullet-point-start {
  height: 75%;
}
.job__item--bullet-point-end {
  height: 50%;
}

.list--style-ping {
  width: 15px;
  height: 15px;
  aspect-ratio: 1;
  border-radius: 50vh;
  background-color: #0e1111;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 0px 0px rgba(255, 0, 255, 0.8), 0px 0px 0px 0px rgba(0, 255, 255, 0.8), 0px 0px 0px 4px rgba(255, 255, 0, 0.8);
}

.education {
  background-color: #ffffff;
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}
.education__item {
  color: #0e1111;
  background-color: pink;
  padding: 25px;
  margin: auto;
  position: relative;
}
.education__item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -10px;
  left: -10px;
  transform: scale(1);
  border: 4px solid #0e1111;
  pointer-events: none;
}

footer {
  background-color: #0e1111;
  color: #ffffff;
}
footer .contact__list {
  list-style-type: none;
  padding: 0;
}
footer .contact__list a {
  padding: 15px;
  display: inline-block;
}
@media only screen and (min-width: 750px) {
  footer .contact__list {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 749px) {
  footer .contact__list a {
    padding: 5px;
  }
}

.animation__ping {
  animation: ping 1s alternate infinite;
}
@keyframes ping {
  100% {
    box-shadow: 0px 0px 0px 6px rgba(255, 0, 255, 0.5), 0px 0px 0px 12px rgba(0, 255, 255, 0.5), 0px 0px 0px 18px rgba(255, 255, 0, 0.5);
  }
}

@media only screen and (min-width: 750px) {
  .animation__color-split {
    transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
  }
  .animation__color-split :hover {
    box-shadow: 4px 4px rgba(0, 255, 255, 0.8), -4px -4px rgba(255, 0, 255, 0.8);
    transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
  }
  .animation__pop-out-yellow {
    box-shadow: 0 0 0 0 rgba(255, 255, 0, 0.8);
    transition: box-shadow 300ms ease-in-out, border 300ms ease-in-out, transform 300ms ease-in-out;
  }
  .animation__pop-out-yellow :hover {
    box-shadow: 10px 10px 0 0 rgba(255, 255, 0, 0.8);
    transform: translate(-10px, -10px);
    transition: all 300ms ease-in-out;
  }
  .animation__pop-out-dark {
    box-shadow: 0 0 0 0 #0e1111;
    transition: box-shadow 300ms ease-in-out, border 300ms ease-in-out, transform 300ms ease-in-out;
  }
  .animation__pop-out-dark :hover {
    box-shadow: 3px 3px 0 0 #0e1111;
    transform: translate(-3px, -3px);
    transition: all 300ms ease-in-out;
  }
  .animation__slice-corners img {
    border: 2px solid #0e1111;
    -webkit-clip-path: polygon(0 0, 0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
    transition: -webkit-clip-path 300ms ease-in-out;
    transition: clip-path 300ms ease-in-out;
    transition: clip-path 300ms ease-in-out, -webkit-clip-path 300ms ease-in-out;
  }
  .animation__slice-corners :hover img {
    -webkit-clip-path: polygon(0% 15%, 15% 0%, 100% 0, 100% 85%, 85% 100%, 0 100%);
    clip-path: polygon(0% 15%, 15% 0%, 100% 0, 100% 85%, 85% 100%, 0 100%);
    border: 2px solid #0e1111;
    transition: -webkit-clip-path 300ms ease-in-out;
    transition: clip-path 300ms ease-in-out;
    transition: clip-path 300ms ease-in-out, -webkit-clip-path 300ms ease-in-out;
  }
  .animation__link--border-bottom li {
    transition: all 200ms ease-out;
  }
  .animation__link--border-bottom li a:not(.logo)::before {
    content: " ";
    width: 80%;
    height: 3px;
    position: absolute;
    bottom: 2px;
    left: 10%;
    background-color: rgba(255, 255, 0, 0.8);
    transition: all 300ms ease-in-out;
  }
  .animation__link--border-bottom li a:not(.logo):hover::before {
    width: 60%;
    height: 2px;
    position: absolute;
    bottom: 15%;
    left: 20%;
    background-color: rgba(255, 0, 255, 0.8);
  }
  .animation__link--border-bottom li a:hover {
    color: rgba(0, 255, 255, 0.8);
  }
  .animation__link--border-bottom li a:active {
    color: rgba(255, 0, 255, 0.8);
  }
}
@media only screen and (max-width: 650px) {
  .animation__title--text-shadow {
    text-shadow: -5px -4px 3px #0e1111, 15px -15px 20px rgba(255, 255, 0, 0.8), 15px 15px 20px rgba(0, 255, 255, 0.8), -15px -15px 20px rgba(255, 0, 255, 0.8);
  }
}
@media only screen and (min-width: 651px) {
  .animation__title--text-shadow {
    animation: spotlight 2.5s ease-in-out forwards running;
  }
  @keyframes spotlight {
    0% {
      text-shadow: 2px -2px 10px #0e1111, 1px 3px 10px rgba(255, 255, 0, 0.8), -3px 3px 10px rgba(0, 255, 255, 0.8), 5px -5px 10px rgba(255, 0, 255, 0.8);
    }
    40% {
      text-shadow: -6px -8px 10px #0e1111, 20px -30px 30px rgba(255, 255, 0, 0.8), 30px 30px 30px rgba(0, 255, 255, 0.8), -40px 30px 30px rgba(255, 0, 255, 0.8);
    }
    70% {
      text-shadow: -4px -6px 8px #0e1111, -30px -30px 40px rgba(255, 255, 0, 0.8), -30px 30px 40px rgba(0, 255, 255, 0.8), -80px -20px 40px rgba(255, 0, 255, 0.8);
    }
    100% {
      text-shadow: -5px -4px 3px #0e1111, 15px -15px 20px rgba(255, 255, 0, 0.8), 15px 15px 20px rgba(0, 255, 255, 0.8), -15px -15px 20px rgba(255, 0, 255, 0.8);
    }
  }
}
@media only screen and (max-width: 850px) {
  .grid__animation-display {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 749px) {
  .animation__pop-out-yellow {
    box-shadow: 10px 10px 0 0 rgba(255, 255, 0, 0.8);
    transform: translate(-5px, -5px);
  }
  .animation__pop-out-dark {
    box-shadow: 3px 3px 0 0 #0e1111;
    transform: translate(-3px, -3px);
  }
  .animation__slice-corners img {
    -webkit-clip-path: polygon(0% 15%, 15% 0%, 100% 0, 100% 85%, 85% 100%, 0 100%);
    clip-path: polygon(0% 15%, 15% 0%, 100% 0, 100% 85%, 85% 100%, 0 100%);
    border: 2px solid #0e1111;
  }
}
@media only screen and (max-width: 575px) {
  .grid__animation-display {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}/*# sourceMappingURL=main.css.map */