/* 
COLOR PALETTE
but im lazy to copy paste everytime
*/
:root {
    --color_white: #f7fff7;
    --color_gray: #343434;
    --color_blueDark: #2f3061;
    --color_yellow: #ffe66d;
    --color_blueLight: #a1c6d7;
}
*{
    margin: 0;
    box-sizing: border-box;
}
/* Global Styles */
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}

img {
    width: 300px;
}

a {
    color: var(--color_yellow);
}
a:hover {
    text-decoration: none;
}
/* Profile */ 

/* Projects */
.projects {
    background: var(--color_white);
}
.projects a {
    color: var(--color_blueDark);
}
.projects .btn {
    color: var(--color_white);
    background-color: var(--color_blueDark);
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}
.projects .btn:hover {
    background-color: rgba(47,48,97, .8);
}