/* 
COLOR PALETTE
but im lazy to copy paste everytime
*/
:root {
    --color_white: #f7fff7;
    --color_gray: #343434;
    --color_blueDark: #2f3061;
    --color_yellow: #ffe66d;
    --color_blueLight: #a1c6d7;
}
*,
::before,
::after{
    box-sizing: border-box;
}
/* Global Styles 
----------------------------------
*/
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    color: var(--color_gray);
    margin: 0;
    padding: 0;
}
.contentWrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}
img {
    width: 300px;
}
h2 {
    margin: 0;
}
a {
    color: var(--color_yellow);
}
a:hover {
    text-decoration: none;
}
/* Profiles 
----------------------------------
*/
header {
    background: var(--color_blueDark);
    color: var(--color_white);
}
/* Projects 
----------------------------------
*/
.projects {
    background: var(--color_white);
}
.projects a {
    color: var(--color_blueDark);
}
.projects .btn {
    color: var(--color_white);
    background-color: var(--color_blueDark);
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover {
    background-color: rgba(47,48,97, .8);
}
/* Work Experience 
----------------------------------
*/
.workExperience {
    background: var(--color_blueLight);
}
/* Education 
----------------------------------
*/
/* Contact 
----------------------------------
*/
footer {
    background: var(--color_gray);
    color: var(--color_white);
}